.ucapan{
    /* width: 600px; */
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-top: 5px; */
    height: 1000px;
    /* background-image: linear-gradient(rgba(46, 44, 44, 0.4),
    rgba(109, 106, 106, 0.6)),url('../../../assets/gambar/bunga-rose.jpg'); */
    background-color: white;
    background-size: contain;
    background-attachment:fixed;
    background-size: cover;
    
}

.ucapan-wrapper{
    box-shadow: 5px 6px 15px 8px;
    color: white;
    padding: 20px;
    border-radius: 10px;
    background-color: #d6bb9f;
}

.judul{
    font-family: 'Rouge Script', cursive;
    font-size: 60px;
}

.container-listUcapan{
    height: 40vh;
    overflow: scroll;
    padding: 10px;
    /* min-height: 600px; */
}

@media(max-width:480px){
    .ucapan-wrapper{
        width: 90%;
    }
    .judul{
        font-size: 40px;
    }
    .container-listUcapan{
        width: 90%;
    }
}