.tambah-ucapan{
    width: 600px;
    padding: 20px;
    border-radius: 10px;
    
}

.form-label{
    font-size: 20px;

}

.tambah-ucapan .btn-simpan{
    width: 560px;
    border-radius: 20px;
    border: none;
}

.tambah-ucapan .btn-simpan:hover{
    background-color: rgb(61, 234, 72);
    border: none;
}

@media(max-width:480px){
    .tambah-ucapan .col{
        width: 70%;
        margin-left: -30px;
    }
    .tambah-ucapan .col button.btn-simpan{
        width: 99%;
    }
}

@media(max-width:412px){
    .tambah-ucapan .col{
        width: 300px;
        margin-left: -30px;
    }
    .tambah-ucapan .col button.btn-simpan{
        width: 99%;
    }
}

@media(max-width:360px){
    .tambah-ucapan .col{
        width: 50%;
        margin-left: -30px;
    }
    .tambah-ucapan .col button.btn-simpan{
        width: 99%;
    }
}
