@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

 
:root{
  --clr:#9FA8DA;
  --clrbg:#311B92;
  --clrAct:#311B92;
}

.navigation{
    
    /* background-attachment: fixed; */
    z-index: 998;
  /* width: 88%; */
  height: 70px;
  /* background: rgb(205, 61, 61); */
  display: none;
  justify-content: center;
  align-items: center;
  border-radius: -30px;
}


@media(max-width:410px){

.navigation{
    display: flex ;
    /* padding: 10px; */
    position: fixed;
    bottom: 0;
    background-color: white;
    width: 420px;
}

.navigation > ul{
    left: -40px;
  position: relative;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation ul li{
  width: 70px;
  height: 70px;
  position: relative;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  z-index: 1;
  bottom: 10px;
}

.navigation ul li a{
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--clrAct);
}

.navigation ul li .icon{
  position: relative;
  display: block;
  bottom: -6px;
  line-height: 80px;
  color: var(--clr);
  transition: 0.5s;
  
}

.navigation ul li.active .icon{
  transform: translateY(-43px);
  color: var(--clr);
  /* margin-bottom: 10px; */
  
  
}

.navigation ul li .name{
  position: absolute;
  bottom: 40px;
  transition: 0.3s;
  transform:translateY(50px);
  opacity: 1;
  font-size: 0.95em;
  
}

.navigation ul li.active .name{
  /* bottom: 30px; */
  transform: translateY(30px);
  opacity: 1;
  color: var(--clrAct);
}

.menu-bg{
  position: absolute;
  top: -40px;
  background: white;
  width: 70px;
  height: 70px;
  border:7px solid var(--clrAct);
  border-radius: 100%;
  transition: 0.5s;
}

.menu-bg::before{
  content: '';
  position: absolute;
  top: 45%;
  left: -29.5%;
  height: 8px;
  width: 9.5px;
  border: 6px solid white;
  border-bottom-right-radius: 150px;
  border-left:none;
  border-top:none;
}
.menu-bg::after{
  content: '';
  position: absolute;
  top: 45%;
  right: -29.5%;
  height: 8px;
  width: 9.5px;
  border: 6px solid white;
  border-bottom-left-radius: 150px;
  border-right:none;
  border-top:none;
}

.navigation ul li:nth-child(1).active ~ .menu-bg{
  transform: translateX(calc(70px *0));
}

.navigation ul li:nth-child(2).active ~ .menu-bg{
  transform: translateX(calc(70px *1));
}

.navigation ul li:nth-child(3).active ~ .menu-bg{
  transform: translateX(calc(70px *2));
}

.navigation ul li:nth-child(4).active ~ .menu-bg{
  transform: translateX(calc(70px*3));
}

.navigation ul li:nth-child(5).active ~ .menu-bg{
  transform: translateX(calc(70px *4));
}

}