/* section tanggal pernikahan  */
.section-tanggal{
    height: 700px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #b98fa9;
}

.title-tanggal{
    font-size: 36px;
    text-decoration: underline;
    margin-top: 60px;
}

.section-tanggal .desc{
    width: 600px;
    text-align: center;
    font-size: 18px;
}

.section-tanggal .desc .nama{
    font-family: 'Rouge Script', cursive;
    font-size: 36px;
    margin-bottom: -20px;
    margin-bottom: 0;
}

.section-tanggal .desc-2{
    font-size: 40px;
    font-family: 'Rouge Script', cursive;
}

.mempelai{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}



.laki{
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.laki .foto-laki{
    width: 200px;
    height: 200px;
    border: 2px solid white;
    border-radius: 100px;
    background-image: url('../../../assets/gambar/pr.jpeg');
    
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position: 80% 42%;

}

.laki .desc{
    text-align: center;
}

.pr{
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pr .foto-pr{
    width: 200px;
    height: 200px;
    border: 2px solid white;
    border-radius: 100px;
    background-image: url('../../../assets/gambar/pria.jpeg');
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position: 80% 42%;
}

.pr .desc{
    text-align: center;
}

.section-tanggal .mempelai .laki img{
    display: none;
}

.section-tanggal .mempelai .pr img{
    display: none;
}

@media(max-width:480px){
    .section-tanggal{
        height: 1100px;
    }
    .title-tanggal{
        font-size: 30px;
        text-align:justify;
    }

    .section-tanggal .desc{
        font-size: 16px;
        width: 90%;
    }

    .laki{
        width: 250px;
    }

    .pr{
        width: 250px;
    }

    .mempelai{
        flex-direction: column;
    }

    .laki .foto-laki{
        width: 0px;
        height: 0px;
        border-radius: 100px;
        background-image: none;
        background-size:none;
        background-repeat: none;
        background-attachment:none;
        background-position: 34% 72%;
    }

    .pr .foto-pr{
        width: 0px;
        height: 0px;
        border-radius: 100px;
        background-image: none;
        background-size:none;
        background-repeat: none;
        background-attachment:none;
        background-position: 34% 72%;
    }

    .mempelai img{
        position:relative;
    }
    .section-tanggal .mempelai .laki img{
        display: flex;
        border-radius: 100px;
    }

    .section-tanggal .mempelai .pr img{
        display: flex;
        border-radius: 100px;
    }

}